<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>findByKey</key>
	<string>/findByKey.json?city={city}&amp;key={key}&amp;version={version}</string>
	<key>feedback</key>
	<string>/feedback.json?version={version}&amp;contacter={contacter}&amp;content={content}&amp;device={device}</string>
	<key>findSearchString</key>
	<string>/findSearchString.json?version={version}&amp;city={city}&amp;searchString={searchString}&amp;typeId={typeId}&amp;priceId={priceId}&amp;sourceId={sourceId}&amp;id={id}</string>
	<key>findAddress</key>
	<string>/findAddress.json?version={version}&amp;latitude={latitude}&amp;longitude={longitude}</string>
	<key>findNearby</key>
	<string>/findNearby.json?&amp;version={version}&amp;latitude={latitude}&amp;longitude={longitude}&amp;city={city}&amp;distanceId={distanceId}&amp;priceId={priceId}&amp;typeId={typeId}&amp;sourceId={sourceId}&amp;id={id}</string>
	<key>findByIds</key>
	<string>/findByIds.json?version={version}&amp;ids={ids}</string>
	<key>findRent</key>
	<string>/findRent.json?version={version}&amp;id={id}</string>
	<key>findComboxs</key>
	<string>/findComboxs.json?version={version}</string>
	<key>getFilterInfo</key>
	<string>/house/getFilterInfo.json</string>
	<key>getListNearby</key>
	<string>/house/getListNearby.json?location={location}&amp;filterparams={filterparams}&amp;page={page}</string>
	<key>getListSearch</key>
	<string>/house/getListSearch.json?location={location}&amp;filterparams={filterparams}&amp;page={page}</string>
</dict>
</plist>
